<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style="background: #fff">

    <div style="max-width:500px; margin: 0 auto; background: #fff; border-radius: 15px; padding: 15px;">
        <div style="text-align: center">
          <img src="https://s724266.sendpul.se/image/files/emailservice/userfiles/7fe1680e18920d765262308f17943b08724266/TVR/TURANDOT_LOGO__NEW_-_kopiya.png" alt="">
        </div>
        <hr>
        <h2 style="text-align: center; color: #524f4f;">Воронов Дмитрий, поздравляем!</h2>
        Вы приобрели Сертификат на "Детскую фотосессию №400006 номиналом 10000.00. <br>
        Вы можете воспользоваться им в течение года с момента покупки (условия покупки и использования). <br> <br>
        При посещении ресторана предъявите персоналу QR-code (куаркод). <br> <br>
        С нетерпением ждем вас в гости! <br>
        Не забудьте предварительно забронировать стол. <br><br>
        С уважением, команда ресторана «Турандот» <br>
        Москва, Тверской бульвар, 26 <br>
        welcome@turandot-palace.ru <br>
        +7 (495) 739-00-11 <br>
        <div style="text-align: center">
          <img src="../../400006.png" alt="" style="width:100%">
        </div>
        <hr>
        <h1 style="text-align: center; color: #524f4f;">turandotpalace.ru</h1>
        <p>
          Вы получили это письмо, потому что выразили свое согласие получать сообщения от "turandotpalace".
          Если Вы хотите отказаться от получения писем, <a href="#">нажмите здесь</a>.
        </p>
    </div>

</body>

</html>
