{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="title">Правила покупки,<br> возврата и использования подарочных сертификатов</div>
    <div class="certificate-wrap">
        <p>Настоящие правила (далее – Правила) определяют общие условия покупки, возврата и использования подарочных сертификатов (далее – Сертификатов) ресторана «Турандот», находящегося по адресу: Москва, Тверской бульвар, дом 26.</p>
        <p><b>1. Термины</b></p>
        <p><b>Продавец</b> – Общество с ограниченной ответственностью «Юста Лайн» (ИНН 7703286155, ОГРН 1027739293570, юридический адрес: 125009, г. Москва, Тверской б-р, д. 26).</p>
        <p><b>Покупатель</b> – физическое лицо, осуществившее заказ и покупку Сертификата на сайте Продавца (https://turandotpalace.ru/).
            Подарочный сертификат – документ в бумажной или электронной форме, имеющий индивидуальный номер, срок действия и определенный предоплаченный номинал. Подарочный сертификат подтверждает право Пользователя требовать оказания Услуг,
            указанных в наименовании Сертификата, на сумму предоплаченного номинала.</p>
        <p><b>Услуги</b> – услуги ресторана «Турандот» указанные в наименовании приобретенного Сертификата.</p>
        <p><b>Сайт</b> – совокупность информации, текстов, графических элементов, дизайна, изображений, фото-, видеоматериалов и иных результатов интеллектуальной деятельности, а также программ для ЭВМ, содержащихся в информационной системе,
            обеспечивающей доступность такой информации в сети Интернет по адресу https://turandotpalace.ru/.</p>
        <p><b>2. Условия приобретения Сертификата</b></p>
        <p>Оформляя заказ на Сертификат Покупатель соглашается с данными Правилами. <br>
            Для покупки Сертификата Покупателю необходимо выполнить следующие действия:</p>
        <ul>
            <li>• посетить Сайт Продавца;</li>
            <li>• выбрать необходимый Сертификат по наименованию требуемой Услуги;</li>
            <li>• перейти на страницу Сертификата и заполнить обязательные поля в форме заказа;</li>
            <li>• оплатить заказ в размере 100% от номинала Сертификата.</li>
            <li>• Оплата заказа возможна только онлайн с использование банковских карт платёжных систем Visa, Mastercard, МИР с использованием протокола безопасности 3D-Secure.</li>
        </ul>
        <p><b>3. Условия возврата средств за покупку Сертификата</b></p>
        <p>Возврат денежных средств Покупателю осуществляется по его обращению к Продавцу и при условии, что срок действия Сертификата не истёк.
            Обратиться за возвратом денежных средств может только сам Покупатель по телефону +7 (495) 739-00-11или электронной почте welcome@turandot-palace.ru, указав имя, фамилию и номер телефона, указанные при заказе Сертификата, а также номер
            приобретенного Сертификата.</p>
        <p>В случае если Сертификат не был использован полностью или частично, то возврат денежных средств Покупателю осуществляется в размере 100% от стоимости Сертификата на туже банковскую карту, которая была использована Покупателем для оплаты
            покупки Сертификата, при этом срок возврата денежных средств зависит от режима работы и условий проведения банковских операций банка-эквайера Продавца и банка-эмитента карты Покупателя, но не может превышать срок 30 календарных дней.</p>
        <p>В случае если Сертификат был использован частично, то возврат осуществляется наличными денежными средствами, в размере неиспользованного остатка от стоимости (номинала) Сертификата, при личном посещении Покупателем ресторана «Турандот».
        </p>
        <p><b>4. Условия использования Сертификата</b></p>
        <p>Приобретенный Сертификат распространяется только на ту Услугу ресторана «Турандот», которая указана в наименовании приобретенного Сертификата.</p>
        <p>Воспользоваться приобретенным Сертификатом возможно только в период срока действия Сертификата.
            Для всех Сертификатов, приобретаемых на Сайте Продавца, установлен срок действия – 1 календарный год от даты покупки.
            Для того, чтобы воспользоваться Сертификатом необходимо предъявить персоналу ресторана «Турандот» для сканирования QR-code (куаркод), полученный после покупки на указанный в заказе адрес электронной почты.</p>
        <p>Сертификатом можно воспользоваться одноразово, полностью израсходовав его номинал, или частично в рамках оплаченного номинала, за несколько визитов.</p>
        <p>Сертификатом может воспользоваться как сам Покупатель, так и иное лицо, которому Покупатель передал QR-code (куаркод), при этом ответственность за хранение и передачу QR-code (куаркода) лежит на Покупателе.</p>
        <p>Если оплачиваемая Услуга превышает по стоимости номинал Сертификата, то разница между стоимостью Услуги и номинала Сертификата оплачивается отдельно наличными денежными средствами или банковской картой.</p>
    </div>

</div>
{% endblock %}
